body{
    background-color: rgb(30, 30, 30);
}
.hackerhouse-banner{
    width: 100%;
    height: 25vh;
    background-image: url("../images/hackerhouse-banner.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.hackerhouse-name{
    margin: 5vh 0 0 2.5vw;
    color: white;
    font-size: 3vw;
}
.hackerhouse-btn{
    position: absolute;
    right: 2.5vw;
    top: 32vh;
    padding: 3vh 3vw 3vh 3vw;
    font-size: 2vw;
    min-width: 18vw;
}
.hackerhouse-mission{
    margin: 1vw 0 0 2.5vw;
    font-size: 1.4vw;
    max-width: 65vw;
    color: rgba(255, 255, 255, 0.7);
}
.values{
    grid-area: offer-row2; 
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    z-index: 1;
    margin: 3vh 0 0 2.5vw;
}
.line{
    border-top: 1px solid #FF3E60;
    box-shadow: 10px 0px 20px #FF3E60;
}
.tabs-btns{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    margin: 0vh 0 0 0;
}
.tab-btn{
    width: 20vw;
    height: 8vh;
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    font-size: 1.4vw;
    background-color: rgb(30, 30, 30);
    border: none;
    color: #FF3E60;
    cursor: pointer;
}
.tab-selected{
    background-color: #FF3E60;
    color: black;
}
.cohorts{
    display: flex;
    width: 100%;
    margin-top: 2vh;
    overflow-x: scroll;
}
.tab-content{
    height: 39vh;
    width: 100%;
    overflow-x: hidden;
}
.members{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 3vw;
    margin-top: 2vh;
    font-weight: 500;
}
.member-container{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 1vh;
    padding: 0 0 2vh 0;
    border-bottom: 1px solid #ff3e6150;
}
.member-address{
    margin-top: 3vh;
    margin-left: 5vw;
}
.content-dim{
    width: 100%;
    height: 7vh;
    background: linear-gradient(rgb(30, 30, 30), rgba(30, 30, 30, 0));
    position: fixed;
}
.dao-approve-btn{
    margin-left: 10vw;
    width: 10vw;
    margin-top: 2vh;
}
.hackerhouse-form{
    display: flex;
    flex-wrap: wrap; 
    width: 40vw;
    height: 78vh;
    margin: 0 auto;
    align-items: center;
    background-color: rgb(29, 29, 29);
    border-radius: 30px;
    margin-top: 12vh;
    padding-top: 4vh;
}